<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_links}}
</head>

<body>
    {{> navbar}}

    <div class="containter-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <!-- left part of header -->
                <div class="row">
                    <div class="col-sm-6">
                        <div >
                            <div class="card-body">
                                <br><br>
                                <figure>
                                    <img src="images/pic.png" alt="aditya" class="img-fluid" title="Adtiya"/>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <div class="card-body" style="text-transform: capitalize; font-size: large; ">
                                <br><br><br>
                                <h1>hello folks ...</h1><br>
                                <h1>i am aditya sharma, i am an enthusiastic web developer and have good command on <span style="color: blue;">front-end</span>, and on <span style="color: blue;">reactjs</span>, as well as on <span style="color: blue;">node.js</span>, and <span style="color: blue;">express</span> </h1>
                                <br>
                                <h1>Get the latest <span style="color: blue;"> Weather </span> information of your city</h1>
                                <a href="/weather"><button class="button_clikme">Check now</button></a>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
    <footer>
        <p>copyright © Aditya Sharma</p>
    </footer>
</body>

</html>
