<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_links}}
</head>

<body>
    {{> navbar}}

    <div class="error">
        <div class="errorimage">
            <img src="images/error.png" alt="aditya" class="img-fluid" title="Adtiya" />
            <br>
                <a href="/"><button class="button_clikme">Go To home</button></a>

        </div>
    </div>
    <footer>
        <p>copyright © Aditya Sharma</p>
    </footer>
</body>

</html>